
@let meal = mealStore.currentMeal;

@let recipe = recipeStore.currentRecipe;

<!------------------------------------------------------------------------------>


<h2 class="title--1">
  {{ recipe()?.name }}
  <span class="title__tag">{{ meal()?.name }}</span>
</h2>

<h3 class="title--2">Objetivo</h3>
<app-macros-table [macros]="[meal()?.macros || macrosDefault]" />
<h3 class="title--2">Real</h3>
<app-macros-table [macros]="[recipe()?.totalMacros || macrosDefault]" />

<h3 class="title--2">Ingredientes</h3>

@if((recipe()?.ingredients?.length ?? 0) > 0) {
  <app-ingredients-table [ingredients]="recipe()?.ingredients || []" />
} @else {
  <p class="opacity-60">No hay ingredientes en esta receta.</p>
}

<div class="flex justify-center gap-10 !mt-10">
  <p-button
      variant="outlined"
      [rounded]="true"
      severity="secondary"
      (onClick)="isDialogVisible.set(true)"
    >
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
    Editar
  </p-button>
  <p-button
      variant="outlined"
      [rounded]="true"
      severity="danger"
      (onClick)="deleteRecipe()"
    >
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
    Eliminar
  </p-button>

</div>

<!------------------------------------------------------------------------------>

@if(isDialogVisible()) {
  <app-recipe-form-dialog [(visible)]="isDialogVisible" [recipe]="recipe()" />
}
