@let ingredients = recipeService.currentRecipe()?.ingredients || [];
@let recipeName = recipeService.currentRecipe()?.name;
@let goalMacros = mealService.currentMeal()?.macros || macrosDefault;
@let meal = mealService.currentMeal();

<h2 class="title--1">{{ recipeName }} - ({{ meal?.name }})</h2>

<h3 class="title--2">Objetivo</h3>
<app-macros-table [macros]="[goalMacros]" />
<h3 class="title--2">Real</h3>
<app-macros-table [macros]="[macros]" />

<h3 class="title--2">Ingredientes</h3>

<ul class="meals-list">
  @for(ingredient of ingredients; track ingredient.id) {
    <li><b>{{ ingredient.name }}</b>: <br>Kcal: {{ ingredient.macros.kcal }}  P: {{ ingredient.macros.protein }} | H: {{ ingredient.macros.carbs }} | G: {{ ingredient.macros.fat }} | {{ ingredient.unit }}</li>
  }
</ul>
