
@let meal = mealService.currentMeal();
@let mealLoading = mealService.loading();
@let mealError = mealService.error();
@let goalMacros = mealService.currentMeal()?.macros || macrosDefault;

@let recipe = recipeService.currentRecipe();
@let recipeLoading = recipeService.loading();
@let recipeError = recipeService.error();

<!------------------------------------------------------------------------------>


<!------------------------------------------------------------------------------>
<!-- SUCCESS -->
@if(!recipeLoading && !mealLoading) {
  <h2 class="title--1">
    {{ recipe?.name }}
    <span class="title__tag">{{ meal?.name }}</span>
  </h2>
  
  <h3 class="title--2">Objetivo</h3>
  <app-macros-table [macros]="[goalMacros]" />
  <h3 class="title--2">Real</h3>
  <app-macros-table [macros]="[recipe?.totalMacros || macrosDefault]" />

  <h3 class="title--2">Ingredientes</h3>

  <app-ingredients-table [ingredients]="recipe?.ingredients || []" />
}

<!------------------------------------------------------------------------------>
<!-- LOADING -->
@if(recipeLoading || mealLoading) {
  <app-status-spinner status="loading" label="Cargando..."/>
} 

<!------------------------------------------------------------------------------>
<!-- ERROR -->
@if(recipeError || mealError) {
  <app-status-spinner status="error" label="Error al cargar datos"/>

  <button (click)="recipeService.getRecipe(recipeId, mealId)">Volver a cargar</button>
}
