@let settings = settingsStore.settings();

@let meals = mealStore.meals();

@let diffs = getDiffs();

<!------------------------------------------------------------------------------>


<!------------------------------------------------------------------------------>
<!-- SETTINGS -->
<h2 class="title--1">Configuración</h2>
@if (settings) {
  <app-macros-table
    [macros]="[settings.macros]"
    [editableFields]="['protein', 'carbs', 'fat']"
    (save)="updateSettings($event)"
  />

  
  <h3 class="title--2">Diferencias</h3>
  <app-macros-table
    [macros]="[{ protein: diffs?.protein || 0, carbs: diffs?.carbs || 0, fat: diffs?.fat || 0, kcal: diffs?.kcal || 0 }]"
    [showDiffColors]="true"
  />
}


<hr style="opacity: 0.2; margin: 32px 0" />

<!------------------------------------------------------------------------------>
<!-- MEALS -->
<h2 class="title--1">Comidas</h2>
@for(meal of meals; track meal.id) {
  <hr style="opacity: 0.2; margin-top: 32px" />
  <h3 class="title--2">{{ meal.name }}</h3>
  <app-macros-table
    [macros]="[meal.macros]"
    [editableFields]="['protein', 'carbs', 'fat']"
    (save)="updateMeal($event, meal.id)"
  />
}

