<h2 class="title--1">Configuración</h2>

@if(!settingsService.loading()) {
  @if (settingsService.settings(); as settings) {
    <app-macros-table
      [macros]="[settings.macros]"
      [editableFields]="['kcal', 'protein', 'carbs', 'fat']"
      (save)="updateSettings($event)"
    />
  }
}
@if(settingsService.loading()) {
  <p>Cargando configuración...</p>
} 

@if(settingsService.error()) {
  <p>Error al cargar configuración</p>
  <button (click)="settingsService.getSettings()">volver a cargar</button>
}

@if(!mealService.loading()) {
  @for(meal of mealService.meals(); track meal.id) {
    <hr style="opacity: 0.2; margin-top: 32px" />
    <h3 class="title--2">{{ meal.name }}</h3>
    <app-macros-table
      [macros]="[meal.macros]"
      [editableFields]="['protein', 'carbs', 'fat']"
      (save)="updateMeal($event, meal.id)"
    />
  }
} 

@if(mealService.loading()) {
  <p>Cargando comidas...</p>
} 

@if(mealService.error()) {
  <p>Error al cargar comidas</p>
  <button (click)="mealService.getMeals()">volver a cargar</button>
}

