@let settings = settingsService.settings();
@let settingLoading = settingsService.loading();
@let settingError = settingsService.error();

@let meals = mealService.meals();
@let mealLoading = mealService.loading();
@let mealError = mealService.error();

@let diffs = getDiffs();

<h2 class="title--1">Configuración</h2>

@if(!settingLoading) {
  @if (settings) {
    <app-macros-table
      [macros]="[settings.macros]"
      [editableFields]="['protein', 'carbs', 'fat']"
      (save)="updateSettings($event)"
    />

    
    <h3 class="title--2">Diferencias</h3>
    <app-macros-table
      [macros]="[{ protein: diffs?.protein || 0, carbs: diffs?.carbs || 0, fat: diffs?.fat || 0, kcal: diffs?.kcal || 0 }]"
      [showDiffColors]="true"
    />
  }
}

@if(settingLoading) {
  <app-status-spinner status="loading" label="Cargando configuración..."/>
} 

@if(settingError) {
  <app-status-spinner status="error" label="Error al cargar configuración"/>

  <button (click)="settingsService.getSettings()">volver a cargar</button>
}


<hr style="opacity: 0.2; margin: 32px 0" />

<h2 class="title--1">Comidas</h2>
@if(!mealLoading) {
  @for(meal of meals; track meal.id) {
    <hr style="opacity: 0.2; margin-top: 32px" />
    <h3 class="title--2">{{ meal.name }}</h3>
    <app-macros-table
      [macros]="[meal.macros]"
      [editableFields]="['protein', 'carbs', 'fat']"
      (save)="updateMeal($event, meal.id)"
    />
  }
} 

@if(mealLoading) {
  <app-status-spinner status="loading" label="Cargando comidas..."/>
} 

@if(mealError) {
  <app-status-spinner status="error" label="Error al cargar comidas"/>
  <button (click)="mealService.getMeals()">volver a cargar</button>
}

