<p-dialog [header]="recipe()?.id ? 'Editar Receta' : 'Crear Receta'" [modal]="true" [(visible)]="visible" [style]="{ height: '100%', width: '95%', maxWidth: '1200px' }">

  <div class="form-section">
    <h3 class="title--3">Nombre</h3>
    <input pInputText id="name" [(ngModel)]="name" autocomplete="off" />
  </div>


  <div class="form-section">
    <h3 class="title--3">Comida</h3>

    <div class="flex justify-between gap-2 flex-col sm:flex-row">
      @for (meal of meals; track meal.id) {
        <div class="flex items-center gap-2 text-nowrap">
          <p-radiobutton name="meal" [value]="meal" [(ngModel)]="selectedMeal" [inputId]="meal.id" />
          <label [for]="meal.id">{{ meal.name }}</label>
        </div>
      } 
    </div>
  </div>

  <div class="form-section">
    <h3 class="title--3">Ingredientes</h3>
    <h4 class="title--4">Proteina</h4>
    <p-autocomplete 
      [(ngModel)]="selectedIngredients.protein" 
      [dropdown]="true" 
      [suggestions]="filteredIngredients.protein" 
      (completeMethod)="filterIngredients($event, 'protein')" 
      optionLabel="name" 
      [showClear]="true"
      [multiple]="true"
      autocomplete="off"
    />
    <h4 class="title--4">Hidratos</h4>
    <p-autocomplete 
      [(ngModel)]="selectedIngredients.carbs" 
      [dropdown]="true" 
      [suggestions]="filteredIngredients.carbs" 
      (completeMethod)="filterIngredients($event, 'carbs')" 
      optionLabel="name" 
      [showClear]="true"
      [multiple]="true"
      autocomplete="off"
    />
    <h4 class="title--4">Grasas</h4>
    <p-autocomplete 
      [(ngModel)]="selectedIngredients.fat" 
      [dropdown]="true" 
      [suggestions]="filteredIngredients.fat" 
      (completeMethod)="filterIngredients($event, 'fat')" 
      optionLabel="name" 
      [showClear]="true"
      [multiple]="true"
      autocomplete="off"
    />
  </div>

  <div class="flex justify-end gap-6">
      <p-button label="Cancelar" severity="secondary" (click)="visible.set(false)" />
      <p-button label="Guardar" (click)="save()" />
  </div>
</p-dialog>