<p-dialog header="Crear Receta" [modal]="true" [(visible)]="visible" [style]="{ height: '80%', width: '80%' }">

  <div class="form-section">
    <h3 class="title--3">Nombre</h3>
    <input pInputText id="name" [(ngModel)]="name" autocomplete="off" />
  </div>


  <div class="form-section">
    <h3 class="title--3">Comida</h3>

    <div class="flex justify-between gap-2">
      @for (meal of meals; track meal.id) {
        <div >
          <p-radiobutton name="meal" [value]="meal" [(ngModel)]="selectedMeal" [inputId]="meal.id" />
          <label [for]="meal.id" class="ml-2">{{ meal.name }}</label>
        </div>
      } 
    </div>
  </div>

  <div class="form-section">
    <h3 class="title--3">Ingredientes</h3>
    <h4 class="title--4">Proteina</h4>
    <h4 class="title--4">Hidratos</h4>
    <h4 class="title--4">Grasas</h4>
  </div>

  <div class="flex justify-end gap-6">
      <p-button label="Cancel" severity="secondary" (click)="visible.set(false)" />
      <p-button label="Save" (click)="visible.set(false)" />
  </div>
</p-dialog>