<p-table [value]="macros" showGridlines stripedRows>
  <ng-template #header>
    <tr>
      @for(col of columns; track col.key) {
      <th [class.cell--small]="col.unit === 'g'">
        {{ col.label }}
      </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-macro>
    <tr>
      @for(col of columns; track col.key) {
      <td
        (click)="editCell(col.key, macro[col.key])"
        [class.not-editable]="!editableFields.includes(col.key)"
      >
        {{ macro[col.key] }} <span class="unit">{{ col.unit }}</span>
      </td>
      }
    </tr>
  </ng-template>
</p-table>

<!-- MODAL -->
<p-dialog header="Editar" [modal]="true" [(visible)]="modal().isVisible">
  <p-floatlabel variant="in">
    <input pInputText autocomplete="off" [(ngModel)]="modal().value" />
    <label>{{ modal().label }}</label>
  </p-floatlabel>
  <br />
  <div>
    <p-button label="Save" (click)="saveCell()" />
  </div>
</p-dialog>
