td {
  position: relative;
  cursor: pointer;
}

.cell {
  &--small {
    text-align: center;
    width: 20px;
  }
}

.unit {
  position: absolute;
  right: 3px;
  bottom: 2px;
  opacity: 0.4;
  font-size: 12px;
}

.not-editable {
  opacity: 0.8;
  cursor: default;
  pointer-events: none;
}

.over {
  color: var(--RED);
}

.under {
  color: var(--ORANGE);
}
