<p-table [value]="macros()" showGridlines stripedRows>
  <ng-template #header>
    <tr>
      @for(col of columns; track col.key) {
      <th [class.cell--small]="col.unit === 'g'">
        {{ col.label }}
      </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-macro>
    <tr>
      @for(col of columns; track col.key) {
      <td
        (click)="editCell(col.key, macro[col.key])"
        [class.not-editable]="!editableFields().includes(col.key)"
        [class.over]="showDiffColors() && macro[col.key] > 0" 
        [class.under]="showDiffColors() && macro[col.key] < 0"
      >
        @if(showDiffColors()) {
          <span class="diff">
            @if(macro[col.key] > 0) {
              <svg  xmlns="http://www.w3.org/2000/svg" width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
            } @else if(macro[col.key] < 0) {
              <svg  xmlns="http://www.w3.org/2000/svg" width="16"  height="16"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg>
            }
          </span>
        }

        <span>{{ macro[col.key] }} </span>
        
        <span class="unit">{{ col.unit }}</span>


      </td>
      }
    </tr>
  </ng-template>
</p-table>

<!-- MODAL -->
<p-dialog header="Editar" [modal]="true" [(visible)]="modal().isVisible">
  <p-floatlabel variant="in">
    <p-inputnumber
      #modalInput
      [(ngModel)]="modal().value"
      [min]="0"
      [max]="10000"
      [step]="1"
    />
    <label>{{ modal().label }}</label>
  </p-floatlabel>
  <br />
  <div>
    <p-button label="Save" (click)="saveCell()" />
  </div>
</p-dialog>
