
@let isVisible  = layoutService.splashScreen().visible;
@let status     = layoutService.splashScreen().status;
@let message    = layoutService.splashScreen().message;
<!-------------------------------------------------->

<div 
  class="fixed inset-0 w-full h-full flex flex-col justify-center items-center bg-white z-50 text-white !bg-black/30 transition-opacity duration-1000"
  [class.opacity-0]="!isVisible"
  [class.pointer-events-none]="!isVisible"
  >
  @if (status === "loading") {
    <span class="text-white">
       <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="none"><style>@keyframes loader4{0%{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}</style><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M12 6.864v1.333m0 7.606v1.333M17.136 12h-1.333m-7.606 0H6.864m8.768 3.632l-.943-.943M9.311 9.311l-.943-.943m0 7.264l.943-.943m5.378-5.378l.943-.943" style="animation:loader4 1.5s linear infinite both;transform-origin:center center"/></svg>
    </span>
  } @else {
    <span class="text-red-400">
       <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><style>@keyframes sad{0%{stroke-dashoffset:0}to{stroke-dashoffset:200}}</style><circle cx="12" cy="12" r="7" stroke="currentColor" stroke-width="1.5"/><circle cx="9" cy="10.277" r="1" fill="currentColor"/><circle cx="15" cy="10.277" r="1" fill="currentColor"/><path stroke="#currentColor" stroke-linecap="round" d="M15 15.25l-.049-.04A4.631 4.631 0 009 15.25" style="animation:sad 4s infinite linear" stroke-dasharray="100"/></svg>
    </span>
  }

  <p class="text-lg font-semibold">
    {{ message || (status === 'loading' ? '' : status === 'success' ? 'ÉXITO' : 'ERROR') }}
  </p>
</div>
