:root {
  --BLACK: #222;
  --BG: #fdfdfd;
  --RED: #ef4444;
  --ORANGE: #f97316;
  --GREEN: #22c55e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--BG);
  color: var(--BLACK);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

//________________________________________
// TEXT
.title {
  &--1 {
    margin-bottom: 10px;
  }

  &--2 {
    margin: 20px 0;
  }
}

//
.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}
